In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Citations_2000-2010 part 2.csv')

In [4]:
df.head()

,Unnamed: 0,patent,citation,cit_date,cit_name,cit_kind,cit_country,category,citseq
0,0,7134641,2796148.0,1957-06-00,St. Clair,A,US,cited by examiner,2.0
1,1,7134641,3387621.0,1968-06-00,Schaff,A,US,cited by examiner,3.0
2,2,7134641,4025048.0,1977-05-00,Tibbitts,A,US,cited by examiner,4.0
3,3,7134641,4078763.0,1978-03-00,Yamamoto,A,US,cited by other,5.0
4,4,7134641,4470577.0,1984-09-00,Warwick,A,US,cited by examiner,6.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13569764 entries, 0 to 13569763
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   patent       int64
 2   citation     float64
 3   cit_date     object
 4   cit_name     object
 5   cit_kind     object
 6   cit_country  object
 7   category     object
 8   citseq       float64
dtypes: float64(2), int64(2), object(5)
memory usage: 931.8+ MB

In [6]:
df.isnull().sum()

Unnamed: 0          0
patent              0
citation            0
cit_date            0
cit_name       821392
cit_kind       478295
cit_country         4
category            4
citseq              4
dtype: int64

In [7]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
# sns.heatmap(df.isnull(), cbar=False)

In [9]:
a = df['patent'].isnull().values.any()

In [10]:
a

False

In [11]:
b = df['citation'].isnull().values.any()

In [12]:
b

False

In [13]:
df['cit_date'] = pd.to_datetime(df['cit_date'], errors='coerce')

In [14]:
c = df['cit_date'].isnull().values.any()

In [15]:
c

True

In [16]:
mean_value=df['cit_date'].mean()

df['cit_date'].fillna(value=mean_value, inplace=True)

In [17]:
d = df['cit_name'].isnull().values.any()

In [18]:
d

True

In [19]:
df['cit_name'].fillna(value= "Unspecified", inplace=True)

In [20]:
e = df['cit_kind'].isnull().values.any()

In [21]:
e

True

In [22]:
df['cit_kind'].value_counts()

cit_kind
A     8263331
B1    2774139
B2    1883691
A1      92361
A2      51888
B        6500
C1       4074
U1       3062
Y        2252
A3       2179
U        1693
C        1623
C2       1546
A5        597
T2        549
T         487
B3        243
B4        208
S         133
A0        117
Y2         98
A4         91
A6         73
Y1         52
A7         50
M          49
T5         43
E          43
C3         43
B6         37
T1         36
P          26
T3         20
W          16
B9         16
A9         14
G          13
F          12
C6          9
A8          9
Z           7
U0          7
I           5
C5          4
B8          3
U2          3
S2          2
L           2
H           2
Z2          2
P3          1
S1          1
Z1          1
B5          1
T9          1
R           1
I2          1
T0          1
I3          1
Name: count, dtype: int64

In [23]:
df['cit_kind'].fillna(value= "UN", inplace=True)

In [24]:
f = df['cit_country'].isnull().values.any()

In [25]:
f

True

In [26]:
df['cit_country'].fillna(value= "UN", inplace=True)

In [27]:
f = df['category'].isnull().values.any()

In [28]:
f

True

In [29]:
df['category'].fillna(value= "UN Specified", inplace=True)

In [30]:
g = df['citseq'].isnull().values.any()

In [31]:
g

True

In [32]:
mean_value=df['citseq'].mean()

df['citseq'].fillna(value=mean_value, inplace=True)

In [33]:
df.isnull().sum()

patent         0
citation       0
cit_date       0
cit_name       0
cit_kind       0
cit_country    0
category       0
citseq         0
dtype: int64

In [34]:
# sns.heatmap(df.isnull(), cbar=False)

In [ ]:
df.to_csv('Citations_3.csv')